--find-links https://download.pytorch.org/whl/torch/
--find-links https://download.pytorch.org/whl/torchaudio/
--find-links https://download.pytorch.org/whl/torchvision/
--find-links https://data.pyg.org/whl/torch-2.0.1%2Bcu117.html
chumpy @ git+https://github.com/mattloper/chumpy
absl-py==2.4.0
addict==2.4.0
beautifulsoup4==4.15.0
certifi==2026.6.17
charset-normalizer==3.4.7
cmake==4.3.4
contourpy==1.2.1
cycler==0.12.1
Cython==3.2.6
dataclasses==0.8
dpvo==0.0.0
einops==0.8.2
filelock==3.29.4
fonttools==4.63.0
fvcore==0.1.5.post20221221
gdown==4.6.0
grpcio==1.81.1
idna==3.18
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
iopath==0.1.10
Jinja2==3.1.6
joblib==1.5.3
json-tricks==3.17.3
kiwisolver==1.5.0
lazy-loader==0.5
lit==18.1.8
loguru==0.7.3
Markdown==3.10.2
MarkupSafe==3.0.3
matplotlib==3.8.4
mmcv==1.3.9
mmpose==0.24.0
mpmath==1.3.0
munkres==1.1.4
networkx==3.4.2
numpy==1.22.3
opencv-python==4.11.0.86
packaging==26.0
pandas==2.0.3
pillow==12.2.0
pip==26.1.2
platformdirs==4.10.0
portalocker==3.2.0
progress==1.6.1
protobuf==7.35.1
psutil==7.2.2
py-cpuinfo==9.0.0
pyparsing==3.3.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytorch3d==0.7.2
pytz==2026.2
PyYAML==6.0.3
requests==2.34.2
scikit-image==0.22.0
scipy==1.11.4
seaborn==0.13.2
setuptools==59.5.0
six==1.17.0
smplx==0.1.28
soupsieve==2.8.4
sympy==1.14.0
tabulate==0.10.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.3.0
tifffile==2025.5.10
timm==0.4.9
tomli==2.4.1
torch==2.0.1+cu117
torch-scatter==2.0.9
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117
tqdm==4.68.3
triton==2.0.0
typing_extensions==4.15.0
tzdata==2026.2
ultralytics==8.2.40
ultralytics-thop==2.0.20
urllib3==2.7.0
Werkzeug==3.1.8
wheel==0.47.0
xtcocotools==1.14.3
yacs==0.1.8
yapf==0.43.0
